
  table{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    width: 400px;
    margin: 10px auto 0px auto;
    padding: 5px;    
  }
  td.lcolumn{
      text-align: center;
      padding: 5px;
  }
  td.rcolumn{
      text-align: left;
      padding: 5px;
  }
  td.bottom{
      text-align: center;
  }
  input { 
      background: lightgray; 
    }
  input:focus { 
      background: white; 
}
td.lcolumn, #type1 {
    accent-color:maroon;
}
#heading2{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    font-size: 5vw;
    }
div.fontstyle{
    background-color: aliceblue;
    font: oblique small-caps 1em Sofia;
    text-shadow: 3px 3px 3px #ababab;  
} 
div+p{ 
    font-size: x-small;
}   