*{
    background-color: aquamarine;
    margin: auto;
} 
body{
    text-align: center;  
}
a{
    text-decoration: none; 
    color:#007700;
}
th{
    text-transform: capitalize!important;
}
p:nth-child(even){
    background-color: rgb(56, 206, 33);
}
table{
    border: solid red;
    width: 50vw;
    height: 300px;
    margin: 10px auto 0px auto;
    text-align: center;
    padding: 5px; 
  }
  


   
   
