
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}
nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}
nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;    
    background-color: #666;  

}
nav a:hover {
    color:#000;
    background-color: rgba(198, 243, 227, 0.603); 
}
nav .current{
    background-color: red;
}


